body {
background-color: aquamarine;
}

p {
  background-color: black;
  color: white;
}

h2 {
  color: chocolate;
  border: medium dashed green;
}

p {
  font-family: Modak, cursive;
  font-size: medium:
}
  





  
  
